pkgbase = datadiff
	pkgdesc = Semantic diff for JSON, YAML, CSV, TOML and XML that plugs into git diff
	pkgver = 0.4.1
	pkgrel = 1
	url = https://github.com/dimanovikov/datadiff
	arch = x86_64
	arch = aarch64
	license = MIT
	license = Apache-2.0
	makedepends = cargo
	source = datadiff-0.4.1.tar.gz::https://github.com/dimanovikov/datadiff/archive/refs/tags/v0.4.1.tar.gz
	sha256sums = 0ed60265d5e89fe0c98f9ee345de4813ea3e04fb00edde96ca6593a87ced42fe

pkgname = datadiff
