pkgbase = datadiff
	pkgdesc = Semantic diff for structured data files (JSON, YAML, CSV, TOML, XML)
	pkgver = 0.4.0
	pkgrel = 1
	url = https://github.com/dimanovikov/datadiff
	arch = x86_64
	arch = aarch64
	license = MIT
	license = Apache-2.0
	makedepends = cargo
	source = datadiff-0.4.0.tar.gz::https://github.com/dimanovikov/datadiff/archive/refs/tags/v0.4.0.tar.gz
	sha256sums = 4e30ae8b6270c353ac99ba62004ce88ad7da46b392b7d4c3f8841072f624c1f6

pkgname = datadiff
